<html>
<body>
    <div style="width: 1000px; margin-left: auto; margin-right: auto;">
        List and describe 3 types of static content that can be used in MVC Core
    </div>

    <br />

    <div style="width: 1000px; margin-left: auto; margin-right: auto;">
        Where does static content belong in an MVC Core application?
    </div>

    <br />

    <div style="width: 1000px; margin-left: auto; margin-right: auto;">

        Explain how to link to a static page from a controller and/or view.
    </div>
</body>
</html>