@{
    Layout = "_Layout";
    ViewBag.Title = "Questions";
}
<html>
<body>
    <div style="width: 1000px; margin-left: auto; margin-right: auto;">
        List and describe 3 types of static content that can be used in MVC Core
        <ul>
            <li>JavaScript</li>
            <li> Images</li>
            <li>Cascading Style Sheets</li>
        </ul>
    </div>

    <br />

    <div style="width: 1000px; margin-left: auto; margin-right: auto;">
        Where does static content belong in an MVC Core application?
        <ul><li>wwwroot</li></ul>
    </div>

    <br />

    <div style="width: 1000px; margin-left: auto; margin-right: auto;">

        Explain how to link to a static page from a controller and/or view.
        <p>you would use a simple href link that statacly links to a html page. The controller just returnes the view</p>
    </div>
</body>
</html>
